.signUp {
  width: 350px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  background-color: white;
  z-index: 2;
  border-radius: 5px;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.close-modal {
  height: 30px;
  background-color:rgb(85, 133, 177);
  display: flex;
  justify-content: flex-end;
  display: none;
}
.close-modal button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
}
.container-signup {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(73, 73, 73);
}
.container-signup h2 {
  margin-bottom: 50px;
}

.container-signup .message {
  margin-bottom: 40px;
}

.container-signup .error p,
.container-signup .success p {
  margin: 5px;
}

.container-signup form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-signup form input {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
}

.container-signup .oauth {
  padding-top: 30px;
}

.container-signup .oauth i {
  margin: 10px;
  font-size: 30px;
}

.container-signup .oauth .facebook {
  color: #3b5998;
}

.container-signup .oauth .google {
  color: #db4437;
}

.container-signup .oauth .twitter {
  color: #00acee;
}

@media (max-width: 650px) {
  .close-modal {
    display: flex;
  }
  .signup {
    width: 100%;
    height: 100%;
  }
  .container-signup {
    padding: 20px;
  }
}