.editor {
  min-height: 0;
  display: flex;
  flex-direction: column;
  padding: 5px; 
  height: 100%;
}

.editor form {
  display: flex;
  min-height: 0;
  flex-direction: column;
  height: 100%;
}

.editor form input[type="text"] {
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}
.editor form input[name="title"] {
  border: 1px solid rgb(145, 145, 145);
}

.editor form input[name="description"] {
  border-left: 1px solid rgb(145, 145, 145);
  border-right: 1px solid rgb(145, 145, 145);
  border-bottom: 1px solid rgb(145, 145, 145);
}

.editor form :global(.editor-wrapper) {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  min-height: 0;
}

.editor form .toolbar {
  border-left: 1px solid rgb(145, 145, 145);
  border-right: 1px solid rgb(145, 145, 145);
}

.editor form .toolbar button {
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
}

.editor form .toolbar button:hover {
  background: #0070f3;
  color: white;
}

.editor form .toolbar button.active {
  background: #0070f3;
  color: white;
}

.editor form .toolbar .groupEnd {
  border-right: 1px solid #ccc;
  margin-right: 6px;
  padding-right: 10px; 
}

.editor form .toolbar input[type="color"] {
  width: '32px';
  height: '32px';
  padding: 0;
  border: '1px solid #ccc';
  border-radius: '4px';
  cursor: 'pointer';
}

.editor form .toolbar .hidden {
  display: none;
}

.editor form :global(.editor) {
  border: 1px solid rgb(145, 145, 145);
  overflow: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  min-height: 0;
}

.editor form .editor :global(.ProseMirror) {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.editor form  :global(.editor .ProseMirror:focus) {
  outline: none;
}

.editor form  :global(.editor .ProseMirror) img {
  pointer-events: auto;
  user-select: none;
  -webkit-user-drag: none;
}

:global(.resizable-image-wrapper) {
  display: flex;
  justify-content: center;
}

:global(.resizable-image-inner) {
  position: relative;
  display: inline-block;
  border: 1px dashed #999;
  border-radius: 4px;
  margin: 1.8rem auto;
}

:global(.resizable-image-wrapper)  span {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 15px;
  height: 15px;
  cursor: se-resize;
  z-index: 10;
  display: none;
  background: linear-gradient(135deg, transparent 50%, #d1d1d1 50%);
}

:global(.resizable-image-wrapper) img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

:global(.resizable-image-wrapper:hover) span {
  display: block;
}

.submitButton {
  width: 100%;
  height: 50px;
  margin-bottom: 43px;
  background-color: rgb(85, 133, 177);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

