main {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 2rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media (max-width: 1000px) {

  main {
    padding: 1.2rem; 
    border-radius: 0;
  }
  
}