.search {
  display: flex;
  padding: 5px;
  width: 400px;
  height: 30px;
  border: 1px solid #ccc;
  align-items: center;
}

.search input[type="text"] {
  width: 100%;
  border: 0px;
}

.search input[type="text"]:focus {
  outline: none;
}

@media (max-width: 650px) {
  .search {
    width: 100%;
  }
}