.article-modal {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  min-height: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  background-color: white;
  z-index: 2;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.article-modal .modal-header {
  display: flex;
  background-color:rgb(85, 133, 177);
  justify-content: space-between;
  padding: 5px
}

.modal-header h3 {
  color: #fff;
  margin: 0 auto;
}

.modal-header button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
}

.container-article-modal {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: rgb(73, 73, 73);
  min-height: 0;
}

.container-article-modal .message {
  border-radius: 4px;
  font-size: 14px;
  min-width: 0;
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.container-article-modal .success {
  color: blue;
  background-color: rgba(0, 0, 255, 0.1);
  border: 1px solid rgba(64, 64, 223, 0.5);
}

.container-article-modal .error {
  color: red;
  border: 1px solid rgba(223,64,90,.5);
  background-color: rgba(255, 0, 0, 0.1);
}

@media (max-width: 1340px) {
  .article-modal {
    width: 100%;
    height: 100%;
    min-width: 0;
  }
}
