.article .header {
  font-size: 0.9rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0.5rem;
}

.article .separator {
  display: flex;
  width: 100%;
  margin: 0 auto;
  border: 1px solid rgb(230, 226, 226);
}
.article .firstSeparator {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.article .lastSeparator{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.article img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 1.8rem auto;
  border-radius: 8px;
}

.article .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article h1 {
  color: var(--color-3);
  font-size: 1.5rem;
}
