* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-body: ui-sans-serif, system-ui, sans-serif;
  --font-heading: ui-sans-serif, system-ui, sans-serif;

  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-base: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;

  --color-1: rgb(85, 133, 177);
  --color-2: rgb(36, 36, 36);
  --color-3: rgb(19, 99, 174);
  --color-4: rgb(21, 33, 57);

  --line-height-normal: 1.6;
  --line-height-tight: 1.3;
}

body {
  font-family: var(--font-body);
  font-size: var(--text-base);
  background-color: var(--color-4);
  color: var(--color-2);
}

a, a:visited, a:active {
  color: inherit;
}

p, pre {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

p:first-child, pre:first-child {
  margin-top: 0;
}

ol, ul {
  margin-left: 0;
  padding-left: 1.25rem;
  list-style-position: outside;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

button {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  cursor: pointer;
}

.blue-button {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: var(--color-1);
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.input-text {
  height: 30px;
  border: none;
  border-bottom: 1px solid rgb(145, 145, 145);
  outline: none;
}

.message {
  border-radius: 4px;
  font-size: 14px;
  min-width: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.success {
  color: blue;
  background-color: rgba(0, 0, 255, 0.1);
  border: 1px solid rgba(64, 64, 223, 0.5);
}

.error {
  color: red;
  border: 1px solid rgba(223,64,90,.5);
  background-color: rgba(255, 0, 0, 0.1);
}