.nav {
  display: flex;
  align-items: center;
  background-color: rgb(73, 122, 169);
  height: 45px;
}

.nav nav {
  font-size: var(--text-md);
  display: flex;
  justify-content: flex-start;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.nav nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.nav nav ul li {
  display: flex;
}

.nav nav ul li:hover {
  background-color: rgb(85, 133, 177);
}

.nav nav ul li .nav-links{
  color: #ffffffe2;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}

@media (max-width: 1319px) {

  .nav {
    padding: 0 20px;
  }

}

@media (max-width: 650px) {
}